.custom-row {
  background-color: #eff5f5;
}

.ant-table
  .ant-table-container
  .ant-table-content
  table
  thead.ant-table-thead
  .ant-table-cell {
  background-color: #c2d8d8;
}

.ant-pagination-item .ant-pagination-item-1 .ant-pagination-item-active {
  background-color: #282c34;
}
.css-dev-only-do-not-override-1s3dcof.ant-pagination
  .ant-pagination-item-active {
  font-weight: 600;
  background-color: #ffffff;
  border-color: #497174;
}

.css-dev-only-do-not-override-1s3dcof.ant-pagination
  .ant-pagination-item-active
  a {
  color: #497174;
}

.css-dev-only-do-not-override-1s3dcof.ant-tabs-card
  > .ant-tabs-nav
  .ant-tabs-tab-active,
.css-dev-only-do-not-override-1s3dcof.ant-tabs-card
  > div
  > .ant-tabs-nav
  .ant-tabs-tab-active {
  color: #497174;
  background: #8da6a8;
}

.css-dev-only-do-not-override-1s3dcof
  .ant-tabs
  .ant-tabs-tab.ant-tabs-tab-active
  .ant-tabs-tab-btn {
  color: #8da6a8;
  text-shadow: 0 0 0.25px currentcolor;
}

:where(.css-dev-only-do-not-override-1s3dcof).ant-menu-light:not(
    .ant-menu-horizontal
  )
  .ant-menu-item {
  color: #12494c;
}

:where(.css-dev-only-do-not-override-1s3dcof).ant-menu-light {
  color: #12494c;
  background: #8da6a8;
}

:where(.css-dev-only-do-not-override-1s3dcof).ant-menu-light:not(
    .ant-menu-horizontal
  )
  .ant-menu-item-selected {
  background-color: #8da6a8;
  color: #12494c;
}
