.map-container {
  height: 100%;
  width: 70%;
  background-color: rgb(214, 228, 229);
}

.wall {
  fill: black;
  stroke: black;
  stroke-width: 1.8;
  stroke-opacity: 1;
}

.area {
  stroke: none;
  fill-opacity: 0.6;
}

.area-title {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 0.5em;
}
.sensor {
  stroke: black;
  stroke-width: 0.7;
}
