.map-container {
  height: 100%;
  width: 70%;
}

.wall {
  fill: black;
  stroke: black;
}

.area {
  stroke: none;
  fill-opacity: 0.6;
}

.sensor {
  fill: none;
  stroke: black;
  stroke-width: 0.2;
}
