.map-container {
  float: right;
  height: 100%;
  width: 70%;
  background-color: rgb(214, 228, 229);
}

.wall {
  fill: black;
  stroke: none;
  stroke-width: 1;
}

.area {
  stroke: none;
  stroke-width: 0;
  fill-opacity: 0.6;
}

.area-selected {
  stroke: white;
  stroke-width: 4;
  fill-opacity: 0.6;
}

.area-title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.3em;
}

.sensor {
  stroke: black;
  stroke-width: 1;
}

.sensor-selected {
  stroke: white;
  stroke-width: 1;
}

.cards {
  float: left;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
}

.area-card {
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 300px;
  height: 400px;
}

.sensor-card {
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 300px;
  height: 400px;
}

.lock-btns-container {
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}

.lock-btn {
  width: 115px;
  margin-left: 2px;
  margin-right: 2px;
}

.card-content {
  width: 250px;
  table-layout: fixed;
}

.card-content tr {
  margin: 0 5px;
}

.label {
  vertical-align: top;
}

.data {
  text-align: right;
}
